[user]
    email = dawid.karp@int.pl
    name = Dawid Karpiński
    github = davkk

[rerere]
    enabled = true

[merge]
    tool = nvimdiff
    conflictstyle = zdiff3

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
