[submodule "nvim/pack/vendor/start/conform.nvim"]
	path = nvim/pack/vendor/start/conform.nvim
	url = https://github.com/stevearc/conform.nvim.git
[submodule "nvim/pack/vendor/start/vim-fugitive"]
	path = nvim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/vendor/start/fzf-lua"]
	path = nvim/pack/vendor/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "nvim/pack/vendor/start/harpoon"]
	path = nvim/pack/vendor/start/harpoon
	url = https://github.com/ThePrimeagen/harpoon.git
	branch = harpoon2
[submodule "nvim/pack/vendor/start/plenary.nvim"]
	path = nvim/pack/vendor/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/vendor/start/nvim-lspconfig"]
	path = nvim/pack/vendor/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/vendor/start/oil.nvim"]
	path = nvim/pack/vendor/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "nvim/pack/vendor/start/nvim-treesitter"]
	path = nvim/pack/vendor/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/vendor/start/undotree"]
	path = nvim/pack/vendor/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "nvim/pack/vendor/start/rose-pine"]
	path = nvim/pack/vendor/start/rose-pine
	url = https://github.com/rose-pine/neovim.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
