/**

!.gitignore

!nvim/
!nvim/**

!nvim/lua/plugins/
!nvim/lua/plugins/**

!tmux/
!tmux/**
tmux/plugins

!zsh/
!zsh/**
.zsh_history

.oh-my-zsh/

*.zwc
*.zwc.old
*zcompdump*

!i3/
!i3/**
!i3status/
!i3status/**

!sway/
!sway/**

!gtk-3.0/
!gtk-3.0/settings.ini
!gtk-4.0/
!gtk-4.0/settings.ini

!wezterm/
!wezterm/**

!alacritty/
!alacritty/**

!fontconfig/
!fontconfig/**

!antigen/
!antigen/antigen.zsh

!.scripts/
!.scripts/**

!dunst/
!dunst/**

!wob/
!wob/**

!xdg-desktop-portal/
!xdg-desktop-portal/portals.conf
