/**

!.gitignore

!nvim/
!nvim/**

!tmux/
!tmux/**

!zsh/
!zsh/**
.zsh_history

!i3/
!i3/**
!i3status/
!i3status/**

!sway/
!sway/**

!gtk-3.0/settings.ini
!gtk-4.0/settings.ini

plugins/
.oh-my-zsh/

!nvim/lua/plugins/
!nvim/lua/plugins/**

!.scripts/
!.scripts/**

*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*
